.container {
  max-width: 1294px;
}

header .navbar-light .navbar-nav .nav-item {
  margin-left: 17px;
}
@media screen and (max-width: 992px) {
  header .navbar-light .navbar-nav .nav-item {
    margin-left: inherit;
  }
}
header .navbar-light .navbar-nav .nav-item .nav-link {
  font-style: normal;
  font-weight: 400;
  color: #000000;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
}
header .navbar-light .navbar-nav .nav-item .dropdown-toggle:after {
  border: none;
  background-image: url("../images/arrow_menu.svg");
  width: 12px;
  height: 8px;
  position: relative;
  top: 4px;
}
header .navbar-light .navbar-nav .nav-item .dropdown-menu .dropdown-item {
  font-style: normal;
  font-weight: 400;
  color: #000000;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 19px;
}
@media screen and (max-width: 992px) {
  header .navbar-light .list {
    position: absolute;
    right: 70px;
    top: 0;
  }
  header .navbar-light .list .navbar-nav {
    flex-direction: row;
  }
  header .navbar-light .list .navbar-nav li {
    margin-left: 13px;
  }
}
@media screen and (max-width: 360px) {
  header .navbar-light .list {
    display: none;
  }
}

.main-banner {
  padding-top: 90px;
  padding-bottom: 28px;
}
.main-banner .container {
  background: #DCE5E2;
  border-radius: 16px;
}
@media screen and (max-width: 992px) {
  .main-banner .container {
    padding-top: 70px;
    text-align: center;
  }
}
.main-banner .container .banner-text {
  padding-left: 51px;
}
@media screen and (max-width: 992px) {
  .main-banner .container .banner-text {
    padding-left: 0;
  }
}
.main-banner .container .banner-text h1 {
  font-style: normal;
  font-weight: 400;
  color: #000000;
  font-family: "Readex Pro", sans-serif;
  font-size: 58px;
  line-height: 70px;
  margin-bottom: 19px;
}
@media screen and (max-width: 576px) {
  .main-banner .container .banner-text h1 {
    font-size: 38px;
    line-height: 50px;
  }
}
.main-banner .container .banner-text p {
  font-style: normal;
  font-weight: 400;
  color: #000000;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 30px;
}
.main-banner .container .banner-text .btn-outline-dark {
  border: 1px solid #000000;
  border-radius: 200px;
  font-style: normal;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: 22px;
  padding: 14px 53px;
}
.main-banner .container .image {
  max-width: 647px;
}
.main-banner .owl-nav .owl-prev {
  position: absolute;
  left: 20px;
  top: 220px;
}
.main-banner .owl-nav .owl-prev:after {
  content: "\f053";
  display: inline-block;
  font-weight: 900;
  font-family: "Font Awesome 6 Free";
  color: #08090D;
  font-size: 25px;
}
@media screen and (max-width: 992px) {
  .main-banner .owl-nav {
    display: none;
  }
}
.main-banner .owl-next {
  position: absolute;
  right: 20px;
  top: 220px;
}
.main-banner .owl-next:before {
  content: "\f054";
  display: inline-block;
  font-weight: 900;
  font-family: "Font Awesome 6 Free";
  color: #08090D;
  font-size: 25px;
}
@media screen and (max-width: 992px) {
  .main-banner .owl-next {
    display: none;
  }
}
.main-banner .owl-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 0;
}
.main-banner .owl-dots span {
  width: 194px;
  height: 3px;
  display: inline-block;
  background-color: #000000;
  margin-right: 14px;
  margin-left: 14px;
  position: relative;
  top: -35px;
}
@media screen and (max-width: 767px) {
  .main-banner .owl-dots span {
    width: 97px;
  }
}
@media screen and (max-width: 576px) {
  .main-banner .owl-dots span {
    width: 35px;
  }
}
.main-banner .owl-dots .active span {
  background-color: #F8F9FA;
}

.latest-offers {
  padding-top: 47px;
}
.latest-offers h2 {
  font-style: normal;
  font-weight: 400;
  color: #000000;
  font-family: "Readex Pro", sans-serif;
  font-size: 42px;
  line-height: 52px;
  margin-bottom: 9px;
}
.latest-offers p {
  font-style: normal;
  font-weight: 400;
  color: #000000;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 55px;
}
.latest-offers .laptops {
  min-height: 472px;
  padding: 0 27px;
  box-shadow: 0 4px 35px rgba(0, 0, 0, 0.25);
  margin-bottom: 50px;
  background-image: url("../images/card1_1.png");
  background-repeat: no-repeat;
  background-position-x: 40px;
  bottom: 0;
  transition: 0.4s;
}
@media screen and (max-width: 992px) {
  .latest-offers .laptops {
    max-width: 639px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (max-width: 576px) {
  .latest-offers .laptops {
    background-position-x: center;
    background-position-y: -10px;
  }
}
.latest-offers .laptops .laptops-text p {
  font-style: normal;
  font-weight: 400;
  color: #000000;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  line-height: 19px;
  margin-bottom: inherit;
}
.latest-offers .laptops .laptops-text h5 a {
  font-style: normal;
  font-weight: 400;
  color: #000000;
  font-family: "Readex Pro", sans-serif;
  font-size: 32px;
  line-height: 38px;
  text-decoration: none;
}
@media screen and (max-width: 768) {
  .latest-offers .laptops .laptops-text h5 a {
    font-size: 28px;
    line-height: 36px;
  }
}
.latest-offers .laptops:hover {
  bottom: -22px;
}
.latest-offers .watch {
  min-height: 270px;
  padding: 0 42px;
  box-shadow: 0 4px 35px rgba(0, 0, 0, 0.25);
  background-image: url("../images/card1_2.png");
  background-repeat: no-repeat;
  background-position-x: 40px;
  bottom: 0;
  transition: 0.4s;
}
@media screen and (max-width: 992px) {
  .latest-offers .watch {
    max-width: 639px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (max-width: 576px) {
  .latest-offers .watch {
    background-position-x: center;
  }
}
.latest-offers .watch .watch-text p {
  font-style: normal;
  font-weight: 400;
  color: #000000;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  line-height: 19px;
  margin-bottom: inherit;
}
.latest-offers .watch .watch-text h5 a {
  font-style: normal;
  font-weight: 400;
  color: #000000;
  font-family: "Readex Pro", sans-serif;
  font-size: 32px;
  line-height: 38px;
  text-decoration: none;
}
.latest-offers .watch:hover {
  bottom: -22px;
}
.latest-offers .phones {
  height: 792px;
  box-shadow: 0 4px 35px rgba(0, 0, 0, 0.25);
  padding: 144px 0;
  background-image: url("../images/card1_3.png");
  background-repeat: no-repeat;
  background-position-x: 15px;
  background-position-y: 144px;
  bottom: 0;
  transition: 0.3s;
}
@media screen and (max-width: 768px) {
  .latest-offers .phones {
    max-width: 312px;
  }
}
.latest-offers .phones .phones-text p {
  font-style: normal;
  font-weight: 400;
  color: #000000;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  line-height: 19px;
  margin-bottom: inherit;
}
.latest-offers .phones .phones-text h5 a {
  font-style: normal;
  font-weight: 400;
  color: #000000;
  font-family: "Readex Pro", sans-serif;
  font-size: 32px;
  line-height: 38px;
  text-decoration: none;
}
.latest-offers .phones:hover {
  bottom: -22px;
}
.latest-offers .tablet {
  height: 792px;
  box-shadow: 0 4px 35px rgba(0, 0, 0, 0.25);
  padding: 115px 0;
  background-image: url("../images/card1_4.png");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 252px;
  bottom: 0;
  transition: 0.4s;
}
@media screen and (max-width: 768px) {
  .latest-offers .tablet {
    max-width: 312px;
  }
}
.latest-offers .tablet .tablet-text p {
  font-style: normal;
  font-weight: 400;
  color: #000000;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  line-height: 19px;
  margin-bottom: inherit;
}
.latest-offers .tablet .tablet-text h5 a {
  font-style: normal;
  font-weight: 400;
  color: #000000;
  font-family: "Readex Pro", sans-serif;
  font-size: 32px;
  line-height: 38px;
  text-decoration: none;
}
.latest-offers .tablet:hover {
  bottom: -22px;
}

.most-selled {
  padding-top: 22px;
  padding-bottom: 13px;
  text-align: center;
}
.most-selled h2 {
  font-style: normal;
  font-weight: 400;
  color: #000000;
  font-family: "Readex Pro", sans-serif;
  font-size: 42px;
  line-height: 52px;
  margin-bottom: 9px;
}
@media screen and (max-width: 767px) {
  .most-selled h2 {
    font-size: 32px;
    line-height: 42px;
  }
}
.most-selled p {
  font-style: normal;
  font-weight: 400;
  color: #000000;
  font-family: "Inter", sans-serif;
  font-size: 13px;
  line-height: 17px;
  margin-bottom: 59px;
}
@media screen and (max-width: 992px) {
  .most-selled p {
    margin-bottom: 30px;
  }
}
.most-selled article {
  max-width: 303px;
  text-align: center;
}
@media screen and (max-width: 992px) {
  .most-selled article {
    display: inline-block;
    margin-bottom: 15px;
  }
}
.most-selled article .best-selled-text {
  margin-top: 33px;
  text-align: left;
}
.most-selled article .best-selled-text h5 a {
  font-style: normal;
  font-weight: 400;
  color: #000000;
  font-family: "Readex Pro", sans-serif;
  font-size: 22px;
  line-height: 28px;
  margin-bottom: 9px;
  text-decoration: none;
}
.most-selled article .best-selled-text p {
  font-style: normal;
  font-weight: 400;
  color: #000000;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 8px;
  min-height: 51px;
}
.most-selled article .best-selled-text span {
  font-style: normal;
  font-weight: 400;
  color: #000000;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: 22px;
}

.best-items {
  padding-top: 47px;
  padding-bottom: 13px;
  text-align: center;
}
.best-items h2 {
  font-style: normal;
  font-weight: 400;
  color: #000000;
  font-family: "Readex Pro", sans-serif;
  font-size: 42px;
  line-height: 52px;
  margin-bottom: 9px;
}
@media screen and (max-width: 767px) {
  .best-items h2 {
    font-size: 32px;
    line-height: 42px;
  }
}
.best-items p {
  font-style: normal;
  font-weight: 400;
  color: #000000;
  font-family: "Inter", sans-serif;
  font-size: 13px;
  line-height: 17px;
  margin-bottom: 56px;
}
.best-items article {
  max-width: 413px;
  height: 453px;
  background-color: #F8F9FA;
  border-radius: 16px;
  padding-top: 41px;
}
@media screen and (max-width: 992px) {
  .best-items article {
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
  }
}
.best-items article p {
  font-style: normal;
  font-weight: 400;
  color: #000000;
  font-family: "Readex Pro", sans-serif;
  font-size: 13px;
  line-height: 17px;
  margin-bottom: 1px;
}
.best-items article h5 {
  font-style: normal;
  font-weight: 400;
  color: #000000;
  font-family: "Readex Pro", sans-serif;
  font-size: 28px;
  line-height: 35px;
  margin-bottom: 30px;
}
.best-items article .btn-outline-dark {
  border: 1px solid #000000;
  border-radius: 200px;
  font-style: normal;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: 22px;
  padding: 14px 63px;
  margin-bottom: 30px;
}
.best-items article img {
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 370px) {
  .best-items article img {
    width: 90%;
  }
}

.ideas {
  padding-top: 48px;
  padding-bottom: 24px;
}
.ideas h3 {
  font-style: normal;
  font-weight: 400;
  color: #000000;
  font-family: "Readex Pro", sans-serif;
  font-size: 42px;
  line-height: 52px;
  margin-bottom: 9px;
}
@media screen and (max-width: 767px) {
  .ideas h3 {
    font-size: 32px;
    line-height: 42px;
  }
}
.ideas p {
  font-style: normal;
  font-weight: 400;
  color: #000000;
  font-family: "Inter", sans-serif;
  font-size: 13px;
  line-height: 17px;
  margin-bottom: 56px;
}
.ideas .row {
  margin-bottom: 64px;
}
.ideas .row .ideas-image {
  max-width: 620px;
  border-radius: 3%;
  overflow: hidden;
}
.ideas .row .ideas-text {
  top: 10px;
}
.ideas .row .ideas-text p {
  font-style: normal;
  font-weight: 400;
  color: #000000;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  line-height: 30px;
  text-align: left;
  margin-bottom: 23px;
}
@media screen and (max-width: 767px) {
  .ideas .row .ideas-text p {
    font-size: 20px;
    line-height: 25px;
  }
}
.ideas a {
  font-style: normal;
  font-weight: 400;
  color: #000000;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  line-height: 29px;
  text-decoration: none;
}
.ideas a:after {
  content: "";
  display: inline-block;
  background-image: url("../images/arrow.svg");
  position: relative;
  width: 30px;
  height: 28px;
  bottom: -6px;
}
@media screen and (max-width: 576px) {
  .ideas a:after {
    width: 27px;
    height: 25px;
  }
}
@media screen and (max-width: 576px) {
  .ideas a {
    font-size: 20px;
    line-height: 25px;
  }
}

.information {
  padding-top: 51px;
  padding-bottom: 19px;
}
.information h3 {
  font-style: normal;
  font-weight: 400;
  color: #000000;
  font-family: "Readex Pro", sans-serif;
  font-size: 42px;
  line-height: 52px;
  margin-bottom: 24px;
}
@media screen and (max-width: 992px) {
  .information h3 {
    font-size: 38px;
    line-height: 42px;
  }
}
.information .search {
  padding-bottom: 68px;
}
.information .search .form-inline {
  max-width: 650px;
  padding-bottom: 18px;
}
.information .search .form-inline .form-control {
  padding: 22px 63px;
  font-style: normal;
  font-weight: 400;
  color: #000000;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  line-height: 17px;
  background: #F8F9FA;
  border: 1px solid #C5C5C5;
  border-radius: 100px;
  width: 100%;
  height: 60px;
}
.information .search .form-inline .btn {
  background-image: url("../images/search.svg");
  width: 25px;
  height: 25px;
  left: 25px;
}
.information .search .keywords {
  max-width: 660px;
  padding: 0 60px;
  gap: 5px;
}
.information .search .keywords a {
  padding: 13px 22px;
  background-color: #FFFFFF;
  border: 1px solid #C5C5C5;
  border-radius: 200px;
  font-style: normal;
  font-weight: 400;
  color: #000000;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  line-height: 17px;
  text-decoration: none;
}
@media screen and (max-width: 550px) {
  .information .search .keywords a:nth-child(4) {
    display: none;
  }
  .information .search .keywords a:nth-child(5) {
    display: none;
  }
  .information .search .keywords a:nth-child(6) {
    display: none;
  }
}
@media screen and (max-width: 430px) {
  .information .search .keywords a:nth-child(2) {
    display: none;
  }
  .information .search .keywords a:nth-child(7) {
    display: none;
  }
  .information .search .keywords a:nth-child(9) {
    display: none;
  }
}
.information .sign-up {
  max-width: 935px;
  padding-top: 47px;
  padding-bottom: 43px;
  background-color: #DCE5E2;
  border-radius: 16px;
}
.information .sign-up h4 {
  font-style: normal;
  font-weight: 400;
  color: #000000;
  font-family: "Readex Pro", sans-serif;
  font-size: 42px;
  line-height: 52px;
  margin-bottom: 9px;
}
@media screen and (max-width: 992px) {
  .information .sign-up h4 {
    font-size: 35px;
    line-height: 42px;
  }
}
.information .sign-up p {
  font-style: normal;
  font-weight: 400;
  color: #000000;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 14px;
}
@media screen and (max-width: 992px) {
  .information .sign-up p {
    font-size: 14px;
  }
}
.information .sign-up .sign-up-image {
  margin-bottom: 14px;
}
.information .sign-up .form-sign-up {
  max-width: 400px;
}
.information .sign-up .form-sign-up .form-group {
  margin: inherit;
}
.information .sign-up .form-sign-up .form-group .form-control {
  padding: 16px 32px;
  font-style: normal;
  font-weight: 400;
  color: #000000;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  line-height: 17px;
  background-color: #DCE5E2;
  border: 1px solid #000000;
  border-radius: 54px 0 0 54px;
  width: 285px;
  height: 50px;
}
@media screen and (max-width: 576px) {
  .information .sign-up .form-sign-up .form-group .form-control {
    border-radius: 54px;
    width: 275px;
    margin: auto;
  }
}
.information .sign-up .form-sign-up .btn-dark {
  padding: 16px 32px;
  font-style: normal;
  font-weight: 400;
  color: #000000;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  background-color: #000000;
  border-radius: 0 200px 200px 0;
  width: 115px;
  height: 50px;
}
@media screen and (max-width: 576px) {
  .information .sign-up .form-sign-up .btn-dark {
    border-radius: 200px;
    margin-top: 10px;
  }
}

footer {
  padding-top: 45px;
  padding-bottom: 5px;
  background-color: #F8F9FA;
  border-top: 1px solid #DCE5E2;
}
footer .logo {
  padding-bottom: 49px;
}
footer .logo .footer-logo {
  max-width: 304px;
}
footer .logo .footer-logo p {
  font-style: normal;
  font-weight: 400;
  color: #000000;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 19px;
  margin-top: 18px;
}
@media screen and (max-width: 992px) {
  footer .logo .footer-logo p {
    font-size: 14px;
  }
}
@media screen and (max-width: 992px) {
  footer .logo .footer-logo {
    margin: auto;
  }
}
footer .logo .footer-list h5 {
  font-style: normal;
  font-weight: 400;
  color: #000000;
  font-family: "Readex Pro", sans-serif;
  font-size: 22px;
  line-height: 28px;
  margin-bottom: 15px;
}
@media screen and (max-width: 992px) {
  footer .logo .footer-list h5 {
    font-size: 18px;
    line-height: 24px;
  }
}
footer .logo .footer-list ul li {
  margin-bottom: 10px;
}
footer .logo .footer-list ul li a {
  font-style: normal;
  font-weight: 400;
  color: #000000;
  font-family: "Inter", sans-serif;
  font-size: 17px;
  line-height: 22px;
  text-decoration: none;
}
@media screen and (max-width: 992px) {
  footer .logo .footer-list ul li a {
    font-size: 15px;
    line-height: 20px;
  }
}
@media screen and (max-width: 992px) {
  footer .logo {
    text-align: center;
  }
}
footer .authors {
  padding-top: 53px;
  border-top: 1px solid #DCE5E2;
}
footer .authors a {
  font-style: normal;
  font-weight: 400;
  color: #000000;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: 22px;
  text-decoration: none;
}
footer .authors a span {
  font-style: normal;
  font-weight: 400;
  color: #000000;
  font-family: "Readex Pro", sans-serif;
  font-size: 18px;
  line-height: 22px;
}
@media screen and (max-width: 992px) {
  footer .authors a span {
    font-size: 13px;
    line-height: 20px;
  }
}
@media screen and (max-width: 992px) {
  footer .authors a {
    font-size: 13px;
    line-height: 20px;
  }
}
footer .authors a:after {
  content: "";
  display: inline-block;
  background-image: url("../images/arrow.svg");
  position: relative;
  width: 24px;
  height: 22px;
  position: relative;
  bottom: -2px;
}
@media screen and (max-width: 576px) {
  footer .authors a:after {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
